@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #101519;
  --background: #f1f4f6;
  --primary: #245770;
  --secondary: #71bbe0;
  --accent: #1883b9;
}
[data-theme="dark"] {
  --text: #e5ebef;
  --background: #0a1216;
  --primary: #8ec1da;
  --secondary: #1f688c;
  --accent: #46b2e7;
}




*{
  /* outline: red 1px solid; */

}

body{
  overflow: hidden;
  background: var(--background);
  transition: 1s;


}


.sidebar_scrollable{
  overflow-y: auto;
  max-height: 100vh;
  padding-right: 20px
}


/* Scrollbar  */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 50px;
  height: 100vh;
}
::-webkit-scrollbar-thumb {
  background: var(--scollbar);
  height: 10px;
  border-radius: 93px;
}

::-webkit-scrollbar-track {
  background: hsl(210, 39%, 88%);
  border-radius: 53px;

  border-left: 3px solid white;
  border-right: 3px solid white;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



