@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #101519;
  --background: hsl(240, 9%, 95%);
  --primary: #094067;
  --secondary: #3da9fc;
  --accent: hsl(206, 66%, 60%);
  --button-text: #fffffe;
}
[data-theme="dark"] {
  --text: #ffffff;
  --background: #16161a;
  --primary: #094067;
  --secondary: #3da9fc;
  --accent: #56a2dc;
  --button-text: #fffffe;
}




*{
  /* outline: red 1px solid; */

}

body{
  overflow: hidden;
  background: var(--background);
  transition: 1s;


}


.sidebar_scrollable{
  overflow-y: auto;
  max-height: 100vh;
  padding-right: 20px
}


/* Scrollbar  */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 50px;
  height: 100vh;
}
::-webkit-scrollbar-thumb {
  background: var(--scollbar);
  height: 10px;
  border-radius: 93px;
}

::-webkit-scrollbar-track {
  background: hsl(210, 39%, 88%);
  border-radius: 53px;

  border-left: 3px solid white;
  border-right: 3px solid white;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



