@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #101519;
  --background: hsl(240, 9%, 95%);
  --primary: #094067;
  --secondary: #3da9fc;
  --accent: hsl(206, 66%, 60%);
  --button-text: #fffffe;
}

[data-theme="dark"] {
  --text: #ffffff;
  --background: #16161a;
  --primary: #094067;
  --secondary: #3da9fc;
  --accent: #56a2dc;
  --button-text: #fffffe;
}


* {
  /* outline: red 1px solid; */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  /* overflow: hidden; */
  background: var(--background);
  transition: 1s;

}

#cont {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


.sidebar_scrollable {
  overflow-y: auto;
  max-height: 100vh;
  padding-right: 20px
}


.hover_border {
  border-bottom-width: 4px;

  border-color: var(--secondary);
}


.hover_border:hover {
  width: 80%;
  animation: slideInHover 0.5s ease-in-out;
}

@keyframes slideInHover {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}


.hover_border_side {
  border-bottom-width: 4px;

  border-color: var(--secondary);
}


.hover_border_side:hover {
  width: 90%;
  animation: slideInHoverSide 0.5s ease-in-out;
}

@keyframes slideInHoverSide {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}


.loader {
  width: 60px;
  aspect-ratio: 1.154;
  color: var(--primary);
  display: grid;
  animation: l38-0 6s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
}

.loader:before {
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  background: conic-gradient(from -30deg, #0000 60deg, currentColor 0);
}

.loader:after {
  background: conic-gradient(from -30deg, currentColor 60deg, #0000 0);
  animation: l38 0.5s infinite alternate;
}

@keyframes l38-0 {

  0%,
  16.66% {
    transform: rotate(0deg)
  }

  16.67%,
  33.33% {
    transform: rotate(60deg)
  }

  33.34%,
  50% {
    transform: rotate(120deg)
  }

  50.1%,
  66.66% {
    transform: rotate(180deg)
  }

  66.67%,
  83.33% {
    transform: rotate(240deg)
  }

  83.34%,
  100% {
    transform: rotate(300deg)
  }
}

@keyframes l38 {
  100% {
    transform: translateY(-20px)
  }
}


/* Scrollbar  */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 50px;
  height: 100vh;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  height: 10px;
  border-radius: 93px;
}

::-webkit-scrollbar-track {
  background: hsl(210, 39%, 88%);
  border-radius: 53px;

  border-left: 3px solid white;
  border-right: 3px solid white;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HTML: <div class="loader"></div> */
.ai-loader {
  width: 80px;
  aspect-ratio: 1;
  display: grid;
}

.ai-loader::before,
.ai-loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: repeating-radial-gradient(farthest-side, #0000 0%, #000 1% 10%, #0000 11% 30%);
  -webkit-mask: repeating-conic-gradient(#000 0 36deg, #0000 0 72deg);
  animation: l19 4s infinite linear;
}

.ai-loader::after {
  -webkit-mask: repeating-conic-gradient(#0000 0 36deg, #000 0 72deg);
  animation-direction: reverse;
}

@keyframes l19 {
  100% {
    transform: rotate(1turn)
  }
}


.hero-bottom-gradient {
  background: rgb(72, 109, 242);
  background: linear-gradient(180deg, #486df2 0%, rgba(255, 255, 255, 0) 20%);

}

.glass-grid {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}


